@font-face {
  font-family: "Handwriting";
  src: url("fonts/Jellyka_Estrya_Handwriting.ttf") format("truetype"); }

@font-face {
  font-family: "Champignon";
  src: url("fonts/Champignon.ttf") format("truetype"); }

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default; }

body {
  margin: 0;
  color: rgba(220, 220, 220, 0.9);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url("../images/background.jpg");
  background-size: cover;
  position: center;
  background-repeat: no-repeat;
  width: 100vw;
  overflow-x: hidden;
  font-size: 68%; }
  @media screen and (min-height: 800px) {
    body {
      font-size: 80%; } }
  @media screen and (min-height: 900px) {
    body {
      font-size: 100%; } }
  @media screen and (min-width: 360px) and (min-height: 640px) and (max-width: 400px) {
    body {
      font-size: 75%; } }
  @media screen and (min-width: 401px) and (max-width: 700px) {
    body {
      font-size: 80%; } }
  @media screen and (min-width: 701px) and (max-width: 999px) {
    body {
      font-size: 120%; } }
  @media screen and (max-width: 1000px) {
    body {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      height: 180vh; } }

p {
  margin-bottom: 0.3vh; }

.nav-home-button {
  position: fixed;
  left: 1.5vw;
  top: -3vh;
  font-family: "Handwriting";
  font-size: 10em;
  cursor: pointer;
  -webkit-animation: light 250ms forwards;
  animation: light 250ms forwards;
  z-index: 100; }

.nav-home-button:hover {
  -webkit-animation: dark 500ms forwards;
  animation: dark 500ms forwards; }

.background-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1; }
  @media screen and (max-width: 1000px) {
    .background-box {
      height: 180vh; } }
  @media screen and (width: 1080px) and (height: 1920px) {
    .background-box {
      height: 125vh;
      width: 100vw; } }

#sig {
  color: white;
  font-family: "Champignon";
  font-size: 4.5em;
  padding: 0;
  z-index: 10; }
  @media screen and (max-width: 1000px) {
    #sig {
      margin-top: 15vh;
      margin-bottom: 0; } }
  @media screen and (min-width: 1000px) {
    #sig {
      position: absolute;
      left: 3vw;
      bottom: 3vh; } }
  @media screen and (width: 1080px) and (height: 1920px) {
    #sig {
      bottom: -17vh;
      font-size: 4em; } }

#sig-2 {
  color: #e6e6e6;
  font-family: times;
  font-size: 0.4em;
  margin-top: -3.2vh;
  margin-left: 2vw; }
  @media screen and (max-width: 1000px) {
    #sig-2 {
      margin-top: -4.5vh;
      margin-left: 7vw; } }
  @media screen and (width: 1080px) and (height: 1920px) {
    #sig-2 {
      margin-top: -2.5vh; } }

.content-wrapper {
  background-color: rgba(0, 0, 0, 0.6);
  padding-bottom: 5vh;
  padding-left: 2vw;
  overflow: hidden; }
  @media screen and (max-width: 1000px) {
    .content-wrapper {
      margin-top: 10vh;
      width: 100vw;
      height: 155vh; } }
  @media screen and (min-width: 1000px) {
    .content-wrapper {
      height: 95vh;
      width: 45vw;
      position: absolute;
      right: 15vw; } }
  @media screen and (width: 1080px) and (height: 1920px) {
    .content-wrapper {
      position: absolute;
      width: 55vw;
      right: -10vw;
      height: 120vh; } }

#profile-pic-wrapper {
  float: left;
  width: 35%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 1200px) {
    #profile-pic-wrapper {
      width: 100%;
      margin-top: 2vh; } }

#profile-pic {
  background-image: url("../images/profile-pic.jpg");
  background-size: cover;
  background-position: center;
  float: left; }
  @media screen and (max-width: 1000px) {
    #profile-pic {
      width: 50vw;
      height: 60vw;
      margin-top: 0vh; } }
  @media screen and (min-width: 1000px) and (max-width: 1200px) {
    #profile-pic {
      width: 14vw;
      height: 19vw; } }
  @media screen and (min-width: 1200px) {
    #profile-pic {
      width: 12vw;
      height: 35%;
      margin-top: 3vh; } }
  @media screen and (width: 1080px) and (height: 1920px) {
    #profile-pic {
      width: 25vw;
      height: 40vw; } }

.paragraph {
  float: left;
  width: auto;
  max-width: 90%;
  margin-top: 0.5vh;
  font-size: 1.1em;
  font-style: serif; }
  @media screen and (max-width: 1400px) {
    .paragraph {
      font-size: 0.95em; } }
  @media screen and (max-width: 1000px) {
    .paragraph {
      width: 90%;
      font-size: 0.9em;
      margin-left: 0; } }
  @media screen and (width: 1080px) and (height: 1920px) {
    .paragraph {
      width: 90%;
      font-size: 1.0em; } }

.p-title {
  font-size: 2em;
  color: #b4b4b4;
  font-style: italic; }

.indent {
  margin-left: 3%;
  width: 100%; }

#p1 {
  margin-top: 1%;
  width: 63%; }
  @media screen and (max-width: 1200px) {
    #p1 {
      margin-top: 0; } }

#p2 {
  width: 63%; }

#p3 {
  clear: both; }

#last-paragraph {
  text-align: center;
  font-size: 1.7em;
  margin-top: 2vh; }

#contact-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  clear: both; }

#contact-title {
  margin-top: 0.5vh;
  font-size: 2.5em;
  text-align: left;
  width: auto;
  margin-left: 0;
  color: #b4b4b4; }
  @media screen and (max-width: 1400px) {
    #contact-title {
      font-size: 1.5em; } }

#contact-content {
  font-size: 1.3em;
  margin-top: 1vh; }
  @media screen and (max-width: 1400px) {
    #contact-content {
      font-size: 1em; } }

@-webkit-keyframes light {
  100% {
    color: white; } }

@keyframes light {
  100% {
    color: white; } }

@-webkit-keyframes dark {
  0% {
    color: white; }
  100% {
    color: #b4b4b4; } }

@keyframes dark {
  0% {
    color: white; }
  100% {
    color: #b4b4b4; } }
