@font-face {
  font-family: "Handwriting";
  src: url("fonts/Jellyka_Estrya_Handwriting.ttf") format("truetype"); }

@font-face {
  font-family: "Champignon";
  src: url("../css/fonts/Champignon.ttf") format("truetype"); }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh; }

#logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 0;
  width: auto;
  padding-right: 5%;
  padding-left: 5%;
  font-size: 7.5vh;
  overflow: hidden;
  font-family: "Champignon";
  cursor: pointer; }

#carousel-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100vw;
  height: 100vh; }

#main-carousel-image-container {
  width: 100vw;
  height: 85vh;
  margin-top: 5vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden; }

.carousel-image {
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

#second-carousel-image {
  -webkit-transform: translatex(100%);
  -ms-transform: translatex(100%);
  transform: translatex(100%);
  opacity: 0; }

#carousel-scrollbar-container {
  width: 30vw;
  height: 5%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.carousel-position-component-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15vw;
  height: 60%;
  margin-left: 1vw;
  border-radius: 100vh;
  cursor: pointer; }

.carousel-position-component {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 80%;
  height: 10%;
  border-radius: 100vh;
  background-color: rgba(150, 150, 150, 0.8);
  overflow: hidden; }

.carousel-position-component-animator {
  width: 100%;
  height: 100%;
  border-radius: 100vh;
  background-color: rgba(100, 100, 100, 0.8);
  -webkit-transform: translatex(-100%);
  -ms-transform: translatex(-100%);
  transform: translatex(-100%); }

@-webkit-keyframes scrollbar-anim {
  0% {
    -webkit-transform: translatex(-100%);
    transform: translatex(-100%); }
  100% {
    -webkit-transform: translatex(0%);
    transform: translatex(0%); } }

@keyframes scrollbar-anim {
  0% {
    -webkit-transform: translatex(-100%);
    transform: translatex(-100%); }
  100% {
    -webkit-transform: translatex(0%);
    transform: translatex(0%); } }

@-webkit-keyframes main-image-anim-1 {
  0% { }
  100% { } }

@keyframes main-image-anim-1 {
  0% { }
  100% { } }

@-webkit-keyframes main-image-anim-2 {
  0% { }
  100% { } }

@keyframes main-image-anim-2 {
  0% { }
  100% { } }

@-webkit-keyframes second-image-anim-1 {
  0% {
    -webkit-transform: translatex(100%);
    transform: translatex(100%);
    opacity: 0; }
  25% {
    -webkit-transform: translatex(100%);
    transform: translatex(100%);
    opacity: 0; }
  70% {
    opacity: 1; }
  100% {
    -webkit-transform: translatex(0);
    transform: translatex(0);
    opacity: 1; } }

@keyframes second-image-anim-1 {
  0% {
    -webkit-transform: translatex(100%);
    transform: translatex(100%);
    opacity: 0; }
  25% {
    -webkit-transform: translatex(100%);
    transform: translatex(100%);
    opacity: 0; }
  70% {
    opacity: 1; }
  100% {
    -webkit-transform: translatex(0);
    transform: translatex(0);
    opacity: 1; } }

@-webkit-keyframes second-image-anim-2 {
  0% {
    -webkit-transform: translatex(100%);
    transform: translatex(100%);
    opacity: 0; }
  25% {
    -webkit-transform: translatex(100%);
    transform: translatex(100%);
    opacity: 0; }
  70% {
    opacity: 1; }
  100% {
    -webkit-transform: translatex(0);
    transform: translatex(0);
    opacity: 1; } }

@keyframes second-image-anim-2 {
  0% {
    -webkit-transform: translatex(100%);
    transform: translatex(100%);
    opacity: 0; }
  25% {
    -webkit-transform: translatex(100%);
    transform: translatex(100%);
    opacity: 0; }
  70% {
    opacity: 1; }
  100% {
    -webkit-transform: translatex(0);
    transform: translatex(0);
    opacity: 1; } }
